<app-default-login-layout
  title="Sign in and start today!"
  primaryBtnText="Signup Now"
  secundaryBtnText="Login Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disabledPrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      label="Your name"
      placeholder="John Doe"
    >
      <img src="/assets/svg/email.svg">
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="john.doe@example.com"
    >
      <img src="/assets/svg/email.svg">
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your password"

    >
      <img src="/assets/svg/password.svg">
    </app-primary-input>
     <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirm your password"

    >
      <img src="/assets/svg/password.svg">
    </app-primary-input>
  </form>

</app-default-login-layout>
