<app-default-login-layout
  title="Log into your account"
  primaryBtnText="Login Now"
  secundaryBtnText="Signup Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disabledPrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="john.doe@example.com"
    >
      <img src="/assets/svg/email.svg">
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your password"

    >
      <img src="/assets/svg/password.svg">
    </app-primary-input>
    <span>Forgot password?</span>
  </form>

</app-default-login-layout>
